---
import TerminalIntroduce from "@/components/TerminalIntroduce.astro";
import { translateFor } from "@/i18n/utils";

const t = translateFor(Astro.currentLocale)
---

<section class="bg-neo-green w-full py-12 md:py-24 lg:py-32">
  <div class="container mx-auto px-4 md:px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-18 lg:gap-12">
      <div class="flex flex-col justify-center space-y-8">
        <div class="space-y-6">
          <h1 class="font-head text-5xl lg:text-7xl font-semibold">
            {t("home.hero.text")}
            <span class="bg-neo-yellow px-2 py-1">Website</span>
          </h1><p
            class="font-sans max-w-2xl text-lg font-medium border-l-4 pl-4"
          >
            {t("home.hero.subtext1")}
            <span>
              <img
                class="inline"
                width="20"
                height="20"
                src="/favicon.svg"
                alt=""
              /> 
              Astro
            </span>
            、
            <span>
              <img
                class="inline"
                width="20"
                height="20"
                src="/logo.png"
                alt=""
              />
              Retroui
            </span> 
            、
            <span>
              <img
                class="inline"
                width="20"
                height="20"
                src="/react.png"
                alt=""
              />
              react
            </span>
            {t("home.hero.subtext2")}
          </p>
        </div>
      </div>
      <div class="flex items-center justify-end px-6 md:px-0">
        <div class="relative max-w-[480px] 2xl:max-w-[600px] w-full">
          <div class="absolute -inset-6 bg-neo-purple border-4 -rotate-3"></div>
          <div
            class="relative bg-white border-4 w-fll min-h-80 shadow-lg overflow-hidden rotate-2"
          >
            <!-- <Image src="/logo.png" width={600} height={600} alt=""/> -->
            <TerminalIntroduce />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
