---

---

<div
  class="bg-[#1A1A1A] overflow-hidden border border-gray-800"
>
  <div class="bg-[#2D2D2D] p-4 flex items-center gap-2">
    <div class="flex gap-2">
      <div class="w-3 h-3 rounded-full bg-red-500"></div>
      <div class="w-3 h-3 rounded-full bg-yellow-500"></div>
      <div class="w-3 h-3 rounded-full bg-green-500"></div>
    </div>
  </div><div class="p-6 font-mono">
    <div class="mb-4">
      <span class="text-gray-400">$</span>
      <span class="text-[#00FF00]">introduce init</span>
      <div class="text-gray-300">👨‍💻 我是一名前端开发者(<span class="text-green-300">10年工作经验</span>)</div>
      <div class="text-gray-300">🎓 我的学历是大学本科(<span class="text-green-300">全日制</span>)</div>
      <div class="text-gray-300">💻​ 我喜欢使用的技术有<span class="text-red-400">Astro</span>、<span class="text-blue-300">React</span>、<span class="text-green-400">Vue</span></div>
    </div>
    <div class="mb-4">
      <span class="text-gray-400">$</span>
      <span class="text-[#00FF00]">introduce career</span>
      <div class="text-gray-300">👔 曾供职于百度 、商汤、ok币所等知名公司</div>
      <div class="text-gray-300">🗂️ 开发项目有ToB、ToC的SaaS平台</div>
      <div class="text-gray-300">✅ Deploying to cloud...</div>
    </div>
    <div>
      <span class="text-gray-300">🚀 Deployed successfully!</span>
      <div class="text-[#00FF00]">https://my-project.test.app</div>
    </div>
  </div>
</div>
