---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import SEO from "@/components/layout/SEO.astro";
import { DEFAULT_LOCALE } from "@/i18n/config";
import { getLocaleInfo, translateFor } from "@/i18n/utils";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import BackToTopButton from "@/components/BackToTop";

const LOCALE = getLocaleInfo(Astro.currentLocale);
const t = translateFor(Astro.currentLocale)
const SEOMeta = {
  name: t('site.name'),
  description: t('site.description'),
  image: {
    src: new URL("/og.webp", Astro.site).href,
    alt: t('site.name'),
  },
};
const { title } = Astro.props;
---

<!doctype html>
<html
  lang=`${Astro.currentLocale ?? DEFAULT_LOCALE}`
  dir={LOCALE.direction}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <SEO {...SEOMeta} title={title} />
    <ClientRouter />
  </head>
  <body class="bg-background text-foreground flex flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
    <BackToTopButton client:load />
  </body>
</html>
